.app-header{
    background: #10719E;
}

:root {
    --mdc-layout-grid-margin-desktop: 8px;
    --mdc-layout-grid-gutter-desktop: 8px;
}

.app-sidebar{
    height: 100%;
    width: 20%;
    /*min-width: 300px;*/
    display: flex;
    flex-direction: column;
    position: fixed;
    border-right: 2px solid black;
}

.main-section{
    margin: 64px auto;
}